[project]
	description = This project aims to simplify the usage of the Google Map Direction Rest Api
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
[access "refs/for/refs/*"]
	read = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	push = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	label-Code-Review = -2..+2 group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	label-Verified = -1..+1 group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	rebase = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	removeReviewer = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	submit = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
[access "refs/heads/*"]
	read = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	create = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	push = +force group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	pushMerge = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
[access "refs/tags/*"]
	push = group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
	push = +force group user/MathiasSeguy-Android2EE (MathiasSeguy-Android2EE)
